.App {
  display: flex;
  height: 100%;
}

.Editor {
  height: 100%;
}

#right-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

/*********************** ARTWORK/SCENE ***********************/

.Artwork {
  /* border: #1c1c1c solid 8px; */
  position: relative;
  flex-grow: 1;
  background-color: #f8f9ff;
}

.placeholderText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.placeholderText p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  color: #aaa;
}

.Artwork .Scene,
.Artwork .placeholderText {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ExportButton {
  color: #333;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 15px;
}

.ExportButton:hover {
  outline: none;
}

/*********************** TIMELINE ***********************/

.Timeline {
  background-color: #f8f9ff;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.Timeline .versionButton {
  padding: 0 20px;
  height: 34px;
  margin: 0 5px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  color: #1a1b24;
  border: solid 1px #1a1b24;
  border-radius: 17px;
  background-color: transparent;
}

.Timeline .versionButton[isselected="true"] {
  background-color: #1a1b24;
  color: white;
}

.Timeline .versionButton:focus {
  outline: 0;
}

/*********************** TOOLBAR ***********************/

.Toolbar {
  background-color: #3d314a;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Toolbar h1 {
  background-color: #4f415e;
  color: white;
  text-align: center;
  height: 120px;
  line-height: 120px;
  font-family: "Rubik", sans-serif;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding-bottom: 35px;
}

.Toolbar .BigButton {
  margin-top: -35px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

/*********************** SCENES SNAPSHOTS ***********************/

.Toolbar .Snapshot {
  margin-top: 10px;
  border: solid #ffffff 2px;
  width: 100%;
  padding-top: 100%; /* For aspect ratio of 1*/
  position: relative; /* For aspect ratio of 1*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.Toolbar .Snapshot button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  position: absolute;
  top: 0;
  margin: 10px;
}

.Toolbar .Snapshot button:focus {
  outline: none;
}

.Toolbar .Snapshot .DeleteButton {
  left: 0;
}

.Toolbar .Snapshot .EditButton {
  right: 0;
}

.Toolbar .Checkbox {
  margin-top: 5px;
  margin-bottom: 20px;
}

.Toolbar .Checkbox * {
  display: inline-block;
  margin: 5px;
}

/*********************** CONTROLS PANEL ***********************/

.ControlsPanel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  overflow-y: scroll;
}

.ControlsPanel > div {
  margin-top: 30px;
  width: 100%;
}

.ControlsPanel h3 {
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: white;
  letter-spacing: 0.1em;
}

/*********************** SLIDER ***********************/

.ControlsPanel .slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  margin-top: 12px;
  height: 6px;
  border-radius: 3px;
  background: #837a97;
  outline: none;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #37718e;
  border: solid white 2px;
  cursor: pointer; /* Cursor on hover */
}

.slider::-webkit-slider-thumb:hover {
  background-color: #c33c54;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #37718e;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb:hover {
  background-color: #c33c54;
}

/*********************** TEXT FIELD ***********************/

.TextField {
  background-color: #f8f9ff;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
  padding: 0px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/*********************** POSITIVES & NEGATIVES ***********************/

.ListHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ListHeader h3 {
  flex-grow: 1;
}

.AddButton {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.AddButton:focus {
  outline: none;
}

/*********************** BIG BUTTON ***********************/

.BigButton {
  background-color: #37718e;
  color: #fff;
  height: 70px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.1em;
  width: 66%;
  border-radius: 30px;
  border: solid 2px #f8f9ff;
}

.BigButton[inversed="true"] {
  background-color: #c33c54;
}

.BigButton:focus {
  outline: 0;
}

.BigButton:hover {
  background-color: #c33c54;
}

.BigButton[inversed="true"]:hover {
  background-color: #37718e;
}
