.App {
  display: flex;
  height: 100%;
}

#right-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

/*********************** ARTWORK/SCENE ***********************/

.Artwork {
  /* border: #1c1c1c solid 8px; */
  position: relative;
  flex-grow: 1;
  display: flex;
  background-color: #f8f9ff;
}

.placeholderText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.placeholderText p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
  color: #aaa;
}

.Scene {
  background-color: #f00;
  flex-grow: 1;
}

.SourceScene {
  border-top: solid #ffffff 2px;
  height: 300px;
}

.descriptionBox {
  position: absolute;
  padding: 20px;
  bottom: 10px;
  left: 10px;
  color: white;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.8);
}

/*********************** TIMELINE ***********************/

.Timeline {
  background-color: #f8f9ff;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.Timeline .versionButton {
  padding: 0 15px;
  height: 30px;
  margin: 0 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  color: #1a1b24;
  border: solid 1px #1a1b24;
  border-radius: 15px;
  background-color: transparent;
}

.Timeline .versionButton[isselected="true"] {
  background-color: #1a1b24;
  color: white;
}

.Timeline .versionButton:focus {
  outline: 0;
}

/*********************** TOOLBAR ***********************/

.Toolbar {
  background-color: #3d314a;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Toolbar h1 {
  background-color: #4f415e;
  color: white;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.Toolbar .BigButton {
  margin: 20px auto;
}

/*********************** CONTROLS PANEL ***********************/

.ControlsPanel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  overflow-y: scroll;
}

.ControlsPanel > * {
  margin: 5px 0;
  width: 80%;
}

.ControlsPanel h3 {
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9em;
  color: white;
  letter-spacing: 0.1em;
}

.ControlsPanel > h3 {
  margin-bottom: 0;
  margin-top: 20px;
  width: 70%;
}

/*********************** CHECK BOX ***********************/

.ControlsPanel > .Checkbox {
  margin-bottom: 0;
  margin-top: 20px;
}

.ControlsPanel .Checkbox * {
  display: inline-block;
  margin: 5px;
}

/*********************** SLIDER ***********************/

.ControlsPanel .slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  margin-top: 12px;
  height: 6px;
  border-radius: 3px;
  background: #837a97;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #37718e;
  border: solid white 2px;
  cursor: pointer; /* Cursor on hover */
}

.slider::-webkit-slider-thumb:hover {
  background-color: #c33c54;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #37718e;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb:hover {
  background-color: #c33c54;
}

/*********************** TEXT FIELD ***********************/

.TextField {
  background-color: #f8f9ff;
  height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/*********************** BIG BUTTON ***********************/

.BigButton {
  background-color: #37718e;
  color: #fff;
  height: 50px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 1em;
  letter-spacing: 0.1em;
  width: 66%;
  border-radius: 30px;
  border: solid 2px #f8f9ff;
  margin-top: 50px;
}

.BigButton[inversed="true"] {
  background-color: #c33c54;
}

.BigButton:focus {
  outline: 0;
}

.BigButton:hover {
  background-color: #c33c54;
}

.BigButton[inversed="true"]:hover {
  background-color: #37718e;
}
